@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Rubik';
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  @apply rounded-3xl px-4 !important;
}

.addRating-content {
  margin: auto;
  background: rgb(255, 255, 255);
  @apply w-full max-w-[900px] mx-1 sm:mx-auto !important;
}

.sc-gswNZR {
  @apply w-full border rounded-2xl py-2 pl-4 mt-2 focus:outline-none focus:border-emerald-400 focus:ring-1 focus:ring-emerald-200 !important;
}

.react-search-box-dropdown {
  @apply shadow-none !important;
}

.react-search-box-dropdown > ul > li:first-child {
  @apply rounded-t-2xl !important;
}
.react-search-box-dropdown > ul > li:last-child {
  @apply rounded-b-2xl !important;
}

.react-search-box-dropdown-list-item {
  @apply !important;
}

.style-module_starRatingWrap__q-lJC * {
  display: inline-block !important;
}
